<!DOCTYPE html>
<html lang="en">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>

<ul>
  <li><a href="{{ site.url }}/">alimac.io</a></li>
  <li><a href="{{ site.url }}/writes/">writes</a></li>
  <li><a href="{{ site.url }}/about/">about</a></li>
</ul>

{% block content %}{% endblock %}

<footer class="site">
  <ul>
    <li><a href="https://www.drupal.org/u/alimac">alimac</a></li>
    <li><a href="https://twitter.com/czaroxiejka">czaroxiejka</a></li>
    <li><a href="https://github.com/alimac">alimac</a></li>
    <li>&copy; {{ "now"|date("Y") }} alimac</li>
  </ul>
</footer>

</body>
</html>
