<!DOCTYPE html>
<html lang="en">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <title>{% block title %}{{ page.title }}{% endblock %} &mdash; {{ site.title }}</title>

</head>
<body>

<ul>
  <li><a href="{{ site.url }}/">alimac.io</a></li>
  <li><a href="{{ site.url }}/writes/">writes</a></li>
  <li><a href="{{ site.url }}/about/">about</a></li>
</ul>

{% block post_title %}{% endblock %}
{% block meta %}{% endblock %}

{% block content %}{% endblock %}

<footer class="site">
  <ul>
    <li><i class="fa fa-drupal"></i> <a href="https://www.drupal.org/u/alimac">alimac</a></li>
    <li><i class="fa fa-twitter"></i> <a href="https://twitter.com/czaroxiejka">czaroxiejka</a></li>
    <li><i class="fa fa-github"></i> <a href="https://github.com/alimac">alimac</a></li>
    <li>&copy; {{ "now"|date("Y") }} alimac</li>
  </ul>
</footer>

</body>
</html>
