{% extends "default" %}

{% block post_title %}
<div class="blog-header">
  <h1 class="blog-title">{{ page.title }}</h1>
  <p class="lead blog-description">{{ page.tagline }}</p>
</div>
{% endblock %}

{% block meta %}
<div>
  {{ page.date|date("l, j F Y") }}

{% if page.tags %}
  <p class="tags">
  {% for tag in page.tags %}
    <a href="{{ site.url }}/tag/{{ tag|url_encode(true) }}"><i class="fa fa-tags"></i> {{ tag }}</a>
  {% endfor %}
  </p>
{% endif %}

</div>
{% endblock %}

{% block content %}
{% endblock %}
