.blog-post li a {
 text-decoration: underline;
}
.talk-meta a {
  text-decoration: none;
}
.talk-meta .location {
  display: block;
  color: #999;
}
.intro-header {
  background: #404040 no-repeat center center;
  background-size: cover;
}

.navbar-custom .navbar-brand:hover,
.navbar-custom .nav li a:hover,
h2.section-heading a:hover,
.post-preview>a:hover,
.meta-section a:hover,
a:hover {
  color: #c71c1e;
}

.meta-section {
  margin-top: 50px;
  background: #404040;
  color: #fff;
}
h2.section-heading,
h2.section-heading a,
.meta-section a {
  color: #999;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 800;
}
.meta-section .tags,
.meta-section .attribution {
  margin-right: 30px;
  display: inline-block;
}
.meta-section .tags a {
  display: inline-block;
  margin-right: 10px;
}

h4 {
  margin-top: 23px;
}
blockquote p {
  margin-top: 0px;
}

.blog-post img {
  max-width: 100%;
  border-bottom: 5px solid #eee;
  border-top: 5px solid #eee;
  padding: 10px 0;
}
.bg-highlight {
  background: #f9f9f9;
}
.front-page .post-preview a h2 {
  font-size: 28px;
}
ul, ol {
  margin-bottom: 30px;
}
.talk-meta {
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  background: #eee;
}
