li a {
 text-decoration: underline;
}

.intro-header {
  background: #404040 no-repeat center center;
  background-size: cover;
}

.post-preview>a:hover,
.meta-section a:hover,
a:hover {
  color: #c71c1e;
}

.meta-section {
  margin-top: 50px;
  background: #404040;
  color: #fff;
}
.meta-section a {
  color: #aaa;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-weight: 800
}
.meta-section .tags,
.meta-section .attribution {
  margin-right: 30px;
  display: inline-block;
}
.meta-section .tags a {
  display: inline-block;
  margin-right: 10px;
}
