---
layout: default
generator: pagination
use: [posts]
title: /writes
header: /images/hostel-table.jpg

---

{% for post in page.pagination.items %}
<div class="post-preview">
  <a href="{{ site.url }}{{ post.url }}">
    <h2 class="post-title">{{ post.title }} </h2>
    <h3 class="post-subtitle">{{ post.tagline }} </h3>
  </a>
  {% include "post-meta" %}
</div>
<hr>
{% endfor %}

<div>
{% if page.pagination.previous_page or page.pagination.next_page %}
  <nav class="article clearfix">
  {% if page.pagination.previous_page %}
  <a class="previous" href="{{ site.url }}{{ page.pagination.previous_page.url }}" title="Previous Page"><span class="title">Previous Page</span></a>
  {% endif %}
    {% if page.pagination.next_page %}
    <a class="next" href="{{ site.url }}{{ page.pagination.next_page.url }}" title="Next Page"><span class="title">Next Page</span></a>
    {% endif %}
    </nav>
{% endif %}
</div>
