---
layout: default
generator: pagination
use: ["posts"]
title: /writes
tagline: Occasional dispatches from my life
header: /images/hostel-table.jpg

---

{% for post in page.pagination.items %}
<div class="post-preview">
  <a href="{{ site.url }}{{ post.url }}">
    <h2 class="post-title">{{ post.title }} </h2>
    <h3 class="post-subtitle">{{ post.tagline }} </h3>
  </a>
  {% include "post-meta" with {post_date: post.date} %}
</div>
<hr>
{% endfor %}

{% if page.pagination.previous_page or page.pagination.next_page %}
<!-- Pager -->
<ul class="pager">
{% if page.pagination.next_page %}
<li class="next">
  <a href="{{ site.url }}{{ page.pagination.next_page.url }}">Older Posts &rarr;</a>
</li>
{% endif %}
{% if page.pagination.previous_page %}
<li class="next">
  <a href="{{ site.url }}{{ page.pagination.previous_page.url }}">&larr; Newer Posts</a>
</li>
{% endif %}
</ul>
{% endif %}
